body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.edad{
    color: red;
}

label
{
    width: 200px;
}

p, label{
    font: tahoma;

}

input [name="email"] {
    background-color: #eeeeee
;
}

.cajagris{
    border-top: 2px solid gray;    border-left: 2px solid gray;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    padding: 5px;  background-color: rgb(238, 238, 238)
    }
    

#cajazul:focus {
    border-color: lightblue;
    outline: none; 
}
